
.load2{
  display: flex;
}
.load2 div{
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  margin-left: 5px;
  animation-name: loading1;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.load2 .two{
  animation-delay: 0.3s;
}
.load2 .three{
  animation-delay: 0.6s;
}
@keyframes loading{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

@keyframes loading1{

  100%{
      opacity: 0.2;
      transform: translateY(20px);
  }
}